.videoContainer {
    width: 100%;           
    max-width: 25%;      
    height: 50%;         
    border: 2px solid #ccc; 
    background-color: #000; 
    display: flex;         
    align-items: center;   
    justify-content: center; 
    overflow: hidden;      
    margin: 0 auto;        
  }
  
  .video {
    width: 100%;           
    height: auto;          
    object-fit: cover;    
  }

  
@media screen and (min-width: 641px) {}


@media screen and (min-width: 961px) {}


@media screen and (min-width: 1024px) {}


@media screen and (min-width: 1281px) { 

}


@media screen and (min-width: 1500px) { }


@media screen and (min-width: 2000px) { }

  